.products{
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.services{
    width: 100%;
    position: relative;
    height: 300px;
    
}
.services img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: relative;
}
.services h1{
    font-family: 'Calibri';
    position: absolute;
    top: 43%;
    left: 8%;
    color: white;
    font-size: 50px;
}